@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

body {
  background-color: dimgray;
}
li, p {
  text-align: center;
}
.nav{
  border: solid navy;
  margin: 0;
  text-align: center;
  font-family: 'Nanum Gothic',helvetica, sans-serif;
  background-color: lightblue;

}
.nav li {
  display: inline;
  text-align: center;
}

.nav li a{
  text-decoration: none;
}


h1, h2, h3, h4{
  font-family: 'Nanum Gothic',helvetica, sans-serif;
  text-align:center;
}
h1 {
  font-size: 300%;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
h2 {
  color: lightpink;
}
h3 {
  color: powderblue;
}

img {
  padding-left: 240px;
  height: auto;
}
embed{
  padding-left: 530px;
	height: auto;
}


.resume{
  text-align: left;
}
.resume h1 {
  color: black;
}
.resume #info{
  font-weight: bold;
}
.resume h2{
  font-style: italic;
}
.resume li{
  color: lightblue;
}


.index img{
  padding-left: 300px;
}
.index h1{
  color: white;
}
.index p{
  color: lightgreen;
}
.index #greeting{
  color: blue;
  font-style: italic;
}
.index h4{
  color: black;
}


.blog h1{
  color: lightblue;
}
.blog h3{
  font-style: italic;
}
.blog h4{
  color: black;
}
.blog p{
  color: yellow;
}
.blog #explain{
  color: white;
}
